<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="category">
	{$category_editcontrol}
	</control>
	<control 
	field="color">
	{$color_editcontrol}
	</control>
	<control 
	field="Date_Listed">
	{$Date_Listed_editcontrol}
	</control>
	<control 
	field="descr">
	{$descr_editcontrol}
	</control>
	<control 
	field="EPACity">
	{$EPACity_editcontrol}
	</control>
	<control 
	field="EPAHighway">
	{$EPAHighway_editcontrol}
	</control>
	<control 
	field="features">
	{$features_editcontrol}
	</control>
	<control 
	field="Horsepower">
	{$Horsepower_editcontrol}
	</control>
	<control 
	field="Make">
	{$Make_editcontrol}
	</control>
	<control 
	field="Model">
	{$Model_editcontrol}
	</control>
	<control 
	field="Phone__">
	{$Phone___editcontrol}
	</control>
	<control 
	field="Picture">
	{$Picture_editcontrol}
	</control>
	<control 
	field="Price">
	{$Price_editcontrol}
	</control>
	<control 
	field="UserID">
	{$UserID_editcontrol}
	</control>
	<control 
	field="YearOfMake">
	{$YearOfMake_editcontrol}
	</control>
	<control 
	field="zipcode">
	{$zipcode_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
