<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="tablename">
	{$tablename_editcontrol}
	</control>
	<control 
	field="startdatetime">
	{$startdatetime_editcontrol}
	</control>
	<control 
	field="confirmdatetime">
	{$confirmdatetime_editcontrol}
	</control>
	<control 
	field="keys">
	{$keys_editcontrol}
	</control>
	<control 
	field="sessionid">
	{$sessionid_editcontrol}
	</control>
	<control 
	field="userid">
	{$userid_editcontrol}
	</control>
	<control 
	field="action">
	{$action_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
